#detail-view {
  position: absolute;
  left: 0; 
  right: 0; 
  top: 30%;
  min-height: 70%;
  background: #FFF;
  z-index: 200;
  padding: 10px;

  overflow: hidden;
  transition: height .2s, left .2s;
}
#detail-view:before {
  content: '';
  display: block;
  position: absolute;
  top: -10px; 
  left: 0; 
  right: 0; 
  height: 10px;
  background: rgba(255,255,255,.5)
}
#detail-view.preview,
#detail-view.preview {
  display: block;
  height: 100px;
  min-height: 100px;
  top: auto;
  bottom: 0;
}

#detail-view .close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 36px;
  font-weight: bold;
}

#detail-view article.message {
  padding-top: 10px;
  margin: 10px 0 0;
  border-top: 1px solid #ddd;
}

#detail-view h3,
#detail-view p {
  margin: 0;
  padding: 0;
  margin: 0;
}

#detail-view textarea {
  display: block;
  width: 100%;
  height: 5em;
}

#detail-view h3 input {
  font-size: inherit;
  line-height: 1em;
  height: 1.6em;
}



#detail-view ~ .mapContainer {
  bottom: 70%;
}
#detail-view.preview ~ .mapContainer {
  bottom: 100px;
}
#detail-view.hide ~ .mapContainer {
  bottom: 0;
}
#markerList ~ #detail-view {
  left: 280px;
}
#markerList.hide ~ #detail-view {
  left: 0;
}