* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  
  /* This gets rid of the ugly orange android focus rects*/
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body{
  background: #DCDCDC;
}

a{
  color: inherit;
}

.right{
  float:right;
}



/* ==========================================================================
   Hoodie Sign In / Sign Up / Sign out stylings
   ========================================================================== */

/* hide contents until we know if user is signed in or not */
body .hoodie-account-signedin,
body .hoodie-account-signedout,
body .hoodie-account-error {
  display: none;
}

html[data-hoodie-account-status=signedin]  .hoodie-account-signedin,
html[data-hoodie-account-status=error]     .hoodie-account-error,
html[data-hoodie-account-status=signedout] .hoodie-account-signedout {
  display: block;
}



@media (max-width: 480px)
{
  .modal {
    position: fixed;
    top: 3%;
    right: 3%;
    left: 3%;
    width: auto;
    margin: 0;
  }
  .modal.fade.in {
    top: 2%;
    width: 94%;
    margin-left: 0;
  }
  .modal-body {
    max-height: 350px;
    padding: 15px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
   }
}
