#controls .hoodie-username {
  font-weight: bold;
}
#controls .hoodie-accountbar {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 100;
  white-space: nowrap;
  transition: top .2s linear;
}
#controls.hide .hoodie-accountbar {
  top: -20px;

}
#controls .hoodie-accountbar > div {
  float: left;
  margin-left: 10px;
}
#controls .btn-group {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

#controls .geolocation i.icon-refresh,
#controls .geolocation.loading i.icon-screenshot{
  display: none;
}
@-webkit-keyframes rotating {
    from { -webkit-transform: rotate(0deg); }
    to   { -webkit-transform: rotate(360deg); }
}

#controls .geolocation.loading i.icon-refresh{
  display: inline-block;
  -webkit-animation: rotating 1.3s linear infinite;
}

@media (max-width: 480px) {
  #marker-detail.detail ~ .mapContainer #controls,
  #marker-detail.detail ~ .mapContainer .leaflet-control-container,
  #markerList[data-mode="show"] ~ .mapContainer #controls,
  #markerList[data-mode="show"] ~ .mapContainer .leaflet-control-container {
    display: none;
  }
}