#dialog {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  color: #fff;

  background: rgba(0,0,0,.9)
}

#dialog .content { 
  overflow: hidden;
  padding: 40px;
  position: relative;

  background: #111;
  background: url(../images/noise.png), -moz-radial-gradient(50% 0, circle cover, #333 0%, #000 100%);
  background: url(../images/noise.png), -webkit-radial-gradient(50% 0, circle cover, #333 0%,#000 100%);
  background: url(../images/noise.png), -o-radial-gradient(50% 0, circle cover, #333 0%,#000 100%);
  background: url(../images/noise.png), -ms-radial-gradient(50% 0, circle cover, #333 0%,#000 100%);
  background: url(../images/noise.png), radial-gradient(circle at 50% 0, #333 0%,#000 100%);
}

#dialog h1,
#dialog h2{
  text-align: center;
}
#dialog h2 {
  font-size: 24px;
}

#dialog .alert {
  padding: 16px 35px 16px 14px;
  margin-bottom: 10px;
}
#dialog button {
  margin-top: 10px;
}
#dialog img{
  margin: 1em auto;
  display: block;
}

#dialog input[type="text"],
#dialog input[type="password"]{
  border-radius: 6px;
  margin: .75em 0 .5em;
  padding: 18px 10px;
  font-size: 16px;
  line-height: 16px;
  height: 52px;
}

/* login */
#dialog .login.content {
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 5px 1px #000;
  max-width: 30em;
  margin: 0 auto; 
}


@media (max-width: 480px) {
  #dialog .content {
    padding: 20px;
  }
}
